<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- CSS -->
    <style>
        input[type="text"]{
            margin: 50px;
            padding: 10px;
            border-radius: 10px;
            outline: none !important;
            border-width: 1px;
            box-shadow: 0 0 10px gray;
        }
    </style>
</head>
<body>

<!-- HTML -->
<div>
    <h1>Arrrreeeeee youuuu ready for some extras bro???</h1>
    <a href="#internal_link" ><p style="text-align: center">Jump to the bottom</p></a>
    <div>
        <br>
        <h3>#1 Extra - I know you weren't ready for some joke but...</h3>
        <details>
            <summary>What did the buffalo say to his son when he left for college?</summary>
            <p>
                Bison
            </p>
        </details>
        <br>
    </div>
    <div>
        <h3>#2 Extra - Do you feel that your days are the same? Like grey? What if I tell you, you can change that? Press this little box below!</h3>
        <label>
            <input type="color">
        </label>
        <br>
    </div>
    <div>
        <h3>#3 How satisfied are you today with your performance? Grab this little guy and tell me</h3>
        <label>
            <input type="range" value ="15" min ="1" max="30">
        </label>
        <br>
    </div>
    <div>
        <h3>#4 Do you know what should every form include? A DATE PLATFORM! Let's see them all! You've got time for that (hehe)</h3>
        <label>
            <input type="date">
            <br>
        </label>
        <label>
            <input type="datetime-local">
            <br>
        </label>
        <label>
            <input type="time">
            <br>
        </label>
        <label>
            <input type="week">
            <br>
        </label>
        <br>
    </div>
    <div>
        <h3>#5 Do you know what would be cool? A CV WEBSITE! What should every one of them includes? How "good" you are graph. A grooph. </h3>
        <p>Humour</p><meter max="100" value="70"></meter>
        <p>Jokes</p><meter max="100" value="90"></meter>
        <p>Git Knowledge</p><meter max="100" value="30"></meter>
        <br>
    </div>
    <div>
        <h3>#6 Can you process these cool stuffs? I give you some time before we continue. Bootyourself bro</h3>
        <progress></progress>
    </div>
    <div>
        <h3>#7 All right! What if I tell you I can make you a millionaire? Search it up on the internet and find it out for yourself!</h3>
        <label>
            <input type="text" list="suggestions" size="50px" placeholder="Search..."/>
        </label>
        <datalist id="suggestions">
            <option>Did</option>
            <option>You</option>
            <option>Think</option>
            <option>I would</option>
            <option value="Tell you that?">I would <3</option>
        </datalist>
        <br>
    </div>
    <div>
        <h3>#8 Okay I was just joking. Here are some solution for you pain bro.</h3>
        <select>
            <optgroup label="You need some serious help by the way">
                <option value="abc">FREE PORN PREMIUM LICENSE CODES HERE</option>
                <option value="def">Bro,</option>
                <option value="ghi">You should program more</option>
                <option value="jkl">Bang the code, not wank cos' the whore</option>
            </optgroup>
            <optgroup label="This is how grandpas got scammed lol">
                <option value="sad">Get a girlfriend, loser</option>
            </optgroup>
        </select>
        <br>
    </div>
    <br>
    <p id="internal_link" style="text-align: center">That's all folks! For the late and lazy guys also ... Hurray...and you have arrived!!!</p>
    <a href="/"><p style="text-align: center">Back to the Main page</p></a>
</div>
</body>
</html>